.tab-form {
    & .toolbar {
        margin-bottom: 1px;
        & ul.nav > li > a {
            padding-right: 0px;
        }
    }
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.treeview {
    & > table.tree {
        width: 100%;
        table-layout: fixed;

        & > thead > tr > th.selection {
            width: 30px;
        }
        & > thead > tr > th {
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > tbody > tr > td {
            cursor: pointer;
            & > * {
                vertical-align: middle;
            }
        }
        & img.column-affix {
            width: 2em;
            height: 2em;
        }
        & a.column-affix > img {
            width: 1em;
            height: 1em;
        }
    }
    & .editabletree-char, .editabletree-date, .editabletree-datetime,
    .editabletree-integer, .editabletree-float, .editabletree-selection,
    .editabletree-timedelta, .editabletree-boolean, .editabletree-many2one,
    .editabletree-one2many {
        width: 100%;
    }
    & td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    & .expander {
        cursor: pointer;
    }
    & .treefooter {
        text-align: center;
    }
}

.form {
    width: 100%;
    & > .form-container {
        width: 100%;
    }
    & td.form-label {
        white-space: pre;
    }
    & .form-char, .form-password, .form-integer, .form-float {
        & input {
            min-width: 8em;
        }
    }
    & td.form-one2many, td.form-many2many {
        vertical-align: top;
    }
    & .form-one2many-menu::after, .form-many2many-menu::after {
        content: "";
        display: table;
        clear: both;
    }
    & .form-one2many-menu, .form-many2many-menu {
        & .form-one2many-string, .form-many2many-string {
            display: inline-table;
            float: left;
            margin: 5px;
        }
        & .form-one2many-toolbar, .form-many2many-toolbar {
            display: inline-table;
            float: right;
        }
    }
    & .form-separator {
        & label {
            margin-top: 10px;
        }
        & hr {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
    & label {
        font-weight: normal;
        display: inline;
    }
    .panel-heading {
        padding: 1px 1px;
    }
}

.form-binary, .editabletree-binary {
    min-width: calc(5 * 2.4em);
}

.form-integer, .form-float, .form-float-time,
.editabletree-integer, .editabletree-float, .editabletree-timedelta {
    & input {
        text-align: right;
    }
}
.column-integer, .column-float, .column-timedelta {
    text-align: right;
}

.form-boolean {
    & input[type=checkbox] {
        width: initial;
    }
}

@media screen and (max-width: 768px) {
    table.responsive,
    table.responsive > thead,
    table.responsive > thead > tr,
    table.responsive > thead > tr > th,
    table.responsive > tbody,
    table.responsive > tbody > tr,
    table.responsive > tbody > tr > td {
        display: block !important;
    }
    table.responsive {
        /* Hide table headers (but not display: none; for accessiblity) */
        & > thead > tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        & > thead > tr,
        & > tbody > tr > td {
            text-align: left !important;
        }
        /* Force height to empty content */
        & td > div:empty {
            min-height: 20px;
        }
    }
    table.responsive-noheader {
        & > tbody > tr > td {
            width: 100% !important;
        }
    }
    table.responsive-header {
        > tbody > tr {
            border: 1px solid #ccc;
        }
        & > tbody > tr > td {
            /* Behave like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 30%;
        }
        & > tbody > tr > td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 30%;
            padding-right: 10px;
            text-align: left;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            /* Label */
            content: attr(data-title);
        }
    }
}

#processing {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.twitter-typeahead {
    & .tt-hint {
        background-color: transparent !important;
    }

    & img.global-search-icon {
        width: 2em;
        height: 2em;
        float: left;
    }

    & p.global-search-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.tt-dataset-actions {
    font-style: italic;
    font-variant: small-caps;
    border-top: 1px #ddd solid;
}
